.home {
  min-height: 100vh;
  background: #f9fafb;
  color: #111827;
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 500px;
  display: block;
  object-fit: cover;
}
